:root {
    --oscuro: #222222;
    --rojo: #ff5140;
    --blanco: whitesmoke;
    --amarillo: #fbc944;
}

body,
html {
    max-width: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
    background-color: var(--oscuro);
    color: var(--blanco);

}

ul {
    margin: 0;
    padding: 0;
}

section {
    margin: 3rem 0;
    display: block;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h2 {
    color: var(--blanco);
    font-family: 'Baskervville', serif;
    font-weight: lighter;
    font-size: 10rem;
    text-align: center;
}

h3 {
    font-size: 4rem;
    color: var(--blanco);
    font-family: 'Baskervville', serif;
}



h4 {
    font-size: 3.5rem;
    font-family: 'Baskervville', serif;
    color: var(--blanco);
}



.h2-container {
    height: 7rem;
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.h2-container h2 {
    color: var(--blanco);
    font-family: 'Bebas Neue', cursive;
}


/* Header */



.hero_class {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    width: 20%;
    display: flex;
    justify-content: center;
}

.logo-header img {
    height: 15rem;

}

/* Navbar */



.navmenu-header {
    background-color: var(--rojo);
    height: 7rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navmenu-header a {
    color: var(--blanco);
    text-decoration: unset;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.3rem;
}

.home-banner {
    display: flex;
    justify-content: center;
}

.home-banner video {
    height: 500px;
    display: flex;
    justify-content: center;
    border: none;
}


/* Eventos */





/* Menu */



.heading-prog {
    cursor: pointer;
    background-color: var(--oscuro);
    border-bottom: solid 1px #212121;
    padding: 2rem;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

.heading-prog:hover {

    background-color: var(--rojo);
    border-bottom: solid 1px #212121;
    transition: all .3s ease-in-out;
}

.active-tab {
    background-color: var(--amarillo);
    border-bottom: solid 1px #212121;
    transition: all .3s ease-in-out;
}

.active-tab h3 {
    color: var(--oscuro);
}

.tab-content {
    display: none;
}

.left-content {
    padding-left: 4rem;
    padding-top: 4rem;
    font-size: 3.75rem;
}

.right-content {
    padding-left: 4rem;
    padding-top: 4rem;
}

.img-custwidth {
    padding-top: 4rem;
    width: 512px;
}

.lista-menu {
    list-style: none;
}

.menu-item-precio {
    display: flex;
    justify-content: space-between;
}

.menu-item-precio span {
    color: var(--amarillo);
    font-weight: bold;
}




/*Contactanos*/


.input-group {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


.input-group input {
    display: block;
    width: 85%;
    height: 3rem;

}

.input-group textarea {
    display: block;
    width: 85%;
    height: 3rem;

}

legend {
    font-size: 2.3rem;
    text-align: center;
    padding-top: 0;
}

.label-form {
    width: 15%;
}

.submit {
    color: var(--oscuro);
    background-color: var(--amarillo);
    border: unset;
    display: block;
    margin: 2rem auto;
    font-size: 3rem;
    padding: .5rem;
}





.button-redirect {
    display: block;
    color: var(--oscuro);
    background-color: var(--amarillo);
    border: unset;
    display: block;
    margin: 2rem auto;
    font-size: 3rem;
    padding: .5rem;
}



@media (max-width:780px) {
    h2 {
        font-size: 6rem;
    }

    h3 {
        font-size: 2rem;
    }


    .navmenu-header {
        height: 5rem;
    }


    .hero_class {
        display: flex;
        width: 100%;
        height: 10%;
        align-items: center;
        justify-content: space-between;
    }

    .logo-header {
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .logo-header img {
        height: 10rem;

    }

    .input-group {
        width: 90%;
    }


    .input-group input {
        display: block;
        width: 80%;
        height: 3rem;

    }

    .input-group textarea {
        display: block;
        width: 80%;
        height: 3rem;

    }


    .label-form {
        width: 20%;
    }


    .home-banner video {
        width: 90%;
        height: auto;
    }

}



.info-contacto{
    text-align: center;
    margin-bottom: 5rem;
}
.info-contacto a{
    text-decoration: unset;
    color:var(--blanco);
}

.icono{
    font-size: 5rem;
}